.header {
	background-color: rgb(195, 220, 231);
	padding: 0; 

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-header {
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

body {
  padding-top: 0;
} 
