.about-founder {
  margin-top: 48px;
  background: #f7fbf8;
  border-radius: 18px;
  box-shadow: 0 2px 16px rgba(43, 182, 115, 0.10);
  padding: 8px 8px 18px 8px;
}

.about-founder__wrapper {
  flex-direction: column;
  align-items: center;
  gap: 18px;
  display: flex;
  justify-content: flex-start;
}


picture:has(.about-founder__photo)  {

  width: 320px;
  height: 320px;
  display: block;
}

.about-founder__photo {
  object-fit: cover;
  border-radius: 16px;
  background: #fff;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.09);
  display: block;
}



.about-founder__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  background: linear-gradient(120deg, #f5fafd 70%, #e4f4fa 100%);
  border-radius: 14px;
  box-shadow: 0 4px 32px #b6d8f144;
  padding: 44px 64px 48px 64px;
  animation: founder-fade-in 1.2s cubic-bezier(.44, 1.15, .43, .99) both;
}

.about-founder__title {
  font-size: 2.2rem;
  font-weight: 900;
  color: #191919;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.about-founder__title {
  font-size: 1.28rem;
}

.about-founder__title::after {
  content: '';
  display: block;
  width: 48px;
  height: 3px;
  background: #222;
  border-radius: 2px;
  margin: 12px auto 0 auto;
}

.about-founder__intro {
  font-size: 1.16rem;
  font-weight: 500;
  margin-bottom: 18px;
  color: #21304a;
  line-height: 1.7;
  border-left: 4px solid #222;
  background: linear-gradient(90deg, #f6faff 80%, #e3ecfa 100%);
  padding: 12px 22px 12px 18px;
  border-radius: 8px 24px 24px 8px;
  box-shadow: 0 2px 12px #b6d8f122;
  position: relative;
}

.about-founder__content p {
  font-size: 1.13rem;
  margin-bottom: 17px;
  color: #191919;
  line-height: 1.85;
  font-weight: 400;
  letter-spacing: 0.01em;
  background: none;
}

.about-founder__content p strong,
.about-founder__content p em {
  color: #191919;
  font-weight: 700;
  background: none;
  border-radius: 0;
  padding: 0;
  letter-spacing: 0.01em;
}

.about-founder__content p:last-child {
  margin-bottom: 0;
}


@media (min-width: 992px) {

  .about-founder {
    padding: 32px 36px 32px 36px;
  }

  .about-founder__wrapper {
    align-items: stretch;
    flex-direction: row;
    gap: 32px;
  }

  picture:has(.about-founder__photo)  {
    width: 100%;
    flex-grow: 1;
    height: auto;
  }

  .about-founder__content {
    width: 100%;
    flex-grow: 1;
    max-width: 617px;
  }

}



@keyframes founder-fade-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}